* {
  margin: 0;
  padding: 0;
}

section {
  padding: 50px 8%;
}

/* shared styles */
.inter-font {
  font-family: "Inter", sans-serif;
}
.btn-primary {
  background-color: #1d4ed8;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
}

/* nav styles */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background-color: #ffffff;
}

.nav-container ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-container a {
  text-decoration: none;
  color: #575757;
}

/* banner styles */

.banner {
  height: 90vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 48px;
}
.banner p {
  margin-top: 18px;
}
.banner button {
  margin-top: 250px;
  padding: 18px 36px;
  font-size: 18px;
  font-weight: bold;
}

/* speakers section styles */

.speakers h1 {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  border-radius: 18px;
  margin-top: 30px;
}
.card-container img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 1px 1px #e5e7eb;
}

.card-details {
  padding: 20px;
}
.track-label {
  font-size: 10px;
  color: #2563eb;
  margin-bottom: 5px;
}

.speaker-title {
  font-size: 12px;
  color: #575757;
  margin-top: 5px;
}

/* pricing section styles */

.pricing-heading {
  text-align: center;
}
.pricing-heading p {
  color: #575757;
  font-size: 12px;
  margin-top: 8px;
}

.pricing-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 50px;
  margin-top: 40px;
}
.pricing-card {
  background-color: #e5e7eb;
  padding: 30px;
  border-radius: 12px;
}
hr {
  margin: 18px 0;
}
.pricing-card p {
  font-size: 10px;
  color: #575757;
}
.pricing-card ul {
  margin-left: 10px;
  font-size: 12px;
  color: #575757;
}
.pricing-card li {
  margin-top: 8px;
}
.pricing-card button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  border: 1px solid #2563eb;
  color: #2563eb;
}
#pro {
  background-color: #0d1b2a;
  color: #ffffff;
}
#pro hr {
  color: rgba(255, 255, 255, 0.1);
}
#pro p {
  color: rgba(255, 255, 255, 0.8);
}
#pro ul li {
  color: rgba(255, 255, 255, 0.8);
}
#btn-pro {
  background-color: #2563eb;
  color: #ffffff;
}
#btn-contact {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  border: 1px solid #0d1b2a;
  color: #0d1b2a;
}
#plan-label {
  color: #93c5fd;
}

/* newsletter styles */
.newsletter-bg {
  background-color: #e5e7eb;
  display: grid;
  justify-content: center;
  text-align: center;
}
.newsletter-bg h4 {
  margin-bottom: 12px;
  color: #575757;
}
.newsletter-bg p {
  margin: 18px 0;
  font-size: 14px;
  color: #575757;
}
.newsletter-bg input {
  margin-right: 8px;
  padding: 18px 40px;
  border-radius: 8px;
  border: none;
}
.input {
  position: relative;
  margin-top: 18px;
}
.input button {
  background-color: #1d4ed8;
  color: #ffffff;
  padding: 18px 30px;

  border: none;
  border-radius: 8px;
}
#emial-icon {
  position: absolute;
  left: 34px;
  bottom: 18px;
}

/* footer section styles */
.footer-bg {
  background-color: #0d1b2a;
  color: #e5e7eb;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-bottom: 18px;
}

.right {
  text-align: right;
}
.right h3 {
  margin-bottom: 12px;
  margin-right: 40px;
}

.rights p {
  padding-top: 18px;
  text-align: center;
}
.social-media a {
  color: #e5e7eb;
  margin-left: 12px;
}
